<header>
    <video playsinline autoplay muted loop poster="img/Lines-min.png" id="bgvid">
        <source src="img/Lines-min.mp4" type="video/mp4">
    </video>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Systems Engineering Design</h1>
            <hr>
            <p>The SED research group at the Chalmers University of Technology</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
