<header>
<!--     <video playsinline autoplay muted loop poster="img/Lines-min.png" id="videoBG">
        <source src="img/Lines-min.mp4" type="video/mp4">
    </video> -->
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Systems Engineering Design Laboratory</h1>
            <hr>
            <p>developed with <i class="fa fa-heart wow bounceIn text-primary" data-wow-delay=".5s"></i> by the SED research group</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
